<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The template is working properly</title>
</head>
<body>
<h1>Welcome to the text analyazer. Enter your text below</h1>
<form  action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove punctuation<br>
    <button type='submit'> Analyze Text</button>
    <!--We add the heading and form in the 8 video and add the 8th video and direct to function removepunc -->


</textarea>
</form>
<h1>Welcome you can add the numbers </h1>
<form  action='/Calculator' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>

    <input type="checkbox" name="addition">Add All number<br>
    <button type='submit'> Add </button>
    <!--We add the heading and form in the 8 video and add the 8th video and direct to function removepunc -->


</textarea>
</form>
</body>
</html>


